In [1]:
import json
import requests
import pandas as pd
from datetime import datetime

In [2]:
session = requests.Session()
url = "https://versionpublicarnpdno.segob.gob.mx/Dashboard/ContextoGeneral"
response = session.get(url)
all_cookies=session.cookies.get_dict()[".AspNet.ApplicationCookie"]
COOKIE="ASP.NET_SessionId=bmaqoqfbffauwy0bxvay1g42; .AspNet.ApplicationCookie="+all_cookies
print(COOKIE)

ASP.NET_SessionId=bmaqoqfbffauwy0bxvay1g42; .AspNet.ApplicationCookie=kReAJI_WPnfbbIot5oI2FDJuP5E7NZSnok3TNwYyi8U39Wss4nN8sql7ET6Uht_LoogU6EDpzPbm3kSdzoErArgdbZHXYxXQLJICQoB3DHCHMIq6oHqABrKCtpJXs3M2xeg3pleBH0GotwinOUwbbtIYQFVZEHp0dCc9esIqvJAVJZcdMo46CnS-pdqda0JOohDmZwlwFRY1bGUuWZBdfHgDNSgDQXLC8Nhns3GS82__eW8uKl6-OPfl-ZVS3BzeCeKw3EUxKYQfbGUT8z_rPs9GE-8fN_7FRAJZVV1JZJEejo-AtMJnv3dM_90puSqVB2ySgTHPg-r0-I8aWRxn8WS_hTR7Y_OHnq5Mhch3f8lMOPqPWNniuXq9YFebmQbL0tsyep1O0BFuKG4H_3bAcDH97pEXEqarasGscGOMhXw1pHpajEn4dr0e1uaBoPRUFhP5tFcCr-VKMZEqrAGGpRLwc56sQooomptrUEdt6B2wOsG2UzGyd5gQtnKBdD-8OedP-6r7bt-NaRBjCK3KBy_31GQB5K6wAuBunCUxkZjf0r8GLoTF2zyD3myhKNm3Q9Xpv5FnLYzDYvB9roRh4ORoDX5xq5L01xpEj2TIZw1wGIZSn71xolLcUL47baopF-5fGZ32EZVyi1ybTNebYQ

# Estados por clave

In [3]:
ESTADOS = ['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche',
 'Coahuila', 'Colima', 'Chiapas', 'Chihuahua','Ciudad de México',
 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Estado de México',
 'Michoacán', 'Morelos', 'Nayarit', 'Nuevo León','Oaxaca', 'Puebla',
 'Querétaro', 'Quintana Roo', 'San Luis Potosí','Sinaloa', 'Sonora',
 'Tabasco', 'Tamaulipas','Tlaxcala', 'Veracruz','Yucatán',
'Zacatecas','México']

# Fechas

In [4]:
url = "https://versionpublicarnpdno.segob.gob.mx/ContextoGeneral/Fechas"

payload = {
    "IdRangoFechas": 1,
    "FechaInicial": None,
    "FechaFinal": None
}

headers = {
    'content-type': "application/json; charset=UTF-8",
    "cookie": COOKIE,
    'user-agent': "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36",
    }

response = requests.request("POST", url, json=payload, headers=headers)

json_data = json.loads(response.content)
Periodo=json_data['Periodo']
Periodo

'PERIODO DEL 01/01/1962 09:00 HRS AL 02/06/2023 19:30 HRS'

Desde cuando hasta la fecha de actualizacion

## PERSONAS DESAPARECIDAS Y NO LOCALIZADAS EN MÉXICO POR ESTADO

In [5]:
url = "https://versionpublicarnpdno.segob.gob.mx/ContextoGeneral/MapChartEntidades"

headers = {
    "cookie": COOKIE,
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36",
}

response = requests.request("POST", url, headers=headers)

json_data = json.loads(response.content)
print(json_data['Title'])


PERSONAS_DESAP_Y_NO_LOC_XEDO_DF={"EDOSCLAVE":[],"ESTADOS":ESTADOS,"PERSONAS_DESAP_Y_NO_LOC_XEDO" :[]}

for i in json_data['Series']:
    PERSONAS_DESAP_Y_NO_LOC_XEDO_DF["PERSONAS_DESAP_Y_NO_LOC_XEDO"].append(i[1])
    PERSONAS_DESAP_Y_NO_LOC_XEDO_DF["EDOSCLAVE"].append(i[0])

PERSONAS_DESAP_Y_NO_LOC_XEDO_Df=pd.DataFrame(PERSONAS_DESAP_Y_NO_LOC_XEDO_DF)

list123=[]
for i in range(len(PERSONAS_DESAP_Y_NO_LOC_XEDO_DF["EDOSCLAVE"])):
        ahora=datetime.now()
        fecha=ahora.date()
        list123.append(fecha)
PERSONAS_DESAP_Y_NO_LOC_XEDO_Df["Fecha"]=list123
dfviejo=pd.read_excel('PERSONAS_DESAP_Y_NO_LOC_XEDO_Df.xlsx')
df=pd.concat([dfviejo, PERSONAS_DESAP_Y_NO_LOC_XEDO_Df], sort=True,ignore_index=True)
df.to_excel('PERSONAS_DESAP_Y_NO_LOC_XEDO_Df.xlsx',index=False)
df

PERSONAS DESAPARECIDAS Y NO LOCALIZADAS EN MÉXICO

,EDOSCLAVE,ESTADOS,Fecha,PERSONAS_DESAP_Y_NO_LOC_XEDO
0,mx-ag,Aguascalientes,2023-05-30 00:00:00,381
1,mx-bc,Baja California,2023-05-30 00:00:00,2376
2,mx-bs,Baja California Sur,2023-05-30 00:00:00,908
3,mx-cm,Campeche,2023-05-30 00:00:00,145
4,mx-co,Coahuila,2023-05-30 00:00:00,3574
...,...,...,...,...
94,mx-tl,Tlaxcala,2023-06-02,125
95,mx-ve,Veracruz,2023-06-02,7346
96,mx-yu,Yucatán,2023-06-02,339
97,mx-za,Zacatecas,2023-06-02,3643
98,mx-3622,México,2023-06-02,965

# Totales

In [6]:
url = "https://versionpublicarnpdno.segob.gob.mx/ContextoGeneral/Totales"


headers = {
    'cache-control': "no-cache",
    'cookie': COOKIE
    }

response = requests.request("POST", url, headers=headers)

json_data = json.loads(response.content)
Categoria_totales=["TotalGlobal","TotalDesaparecidos","TotalLocalizados","PorcentajeDesaparecidos","PorcentajeLocalizados",
"TotalSoloDesaparecidos","TotalSoloNoLocalizados","PorcentajeSoloDesaparecidos","PorcentajeSoloNoLocalizados",
"TotalLocalizadosCV","TotalLocalizadosSV","PorcentajeLocalizadosCV","PorcentajeLocalizadosSV"]
totales=[]
for i in Categoria_totales:
    totales.append(json_data[i])
Totales_df={"CATEGORIA":["Total Global","Total Desaparecidos","Total Localizados","Porcentaje Desaparecidos","Porcentaje Localizados",
"Total Solo Desaparecidos","Total Solo No Localizados","Porcentaje Solo Desaparecidos","Porcentaje Solo No Localizados",
"Total Localizados CV","TotalLocalizados SV","Porcentaje Localizados CV","Porcentaje Localizados SV"],"TOTALES":totales}
Totales_Df=pd.DataFrame(Totales_df)

list123=[]
for i in range(len(Totales_Df["CATEGORIA"])):
        ahora=datetime.now()
        fecha=ahora.date()
        list123.append(fecha)
Totales_Df["Fecha"]=list123
dfviejo=pd.read_excel('Totales_Df.xlsx')
df=pd.concat([dfviejo, Totales_Df], sort=True,ignore_index=True)
df.to_excel('Totales_Df.xlsx',index=False)
df

                         CATEGORIA                Fecha  TOTALES
0                     Total Global  2023-05-30 00:00:00  283,424
1              Total Desaparecidos  2023-05-30 00:00:00  110,770
2                Total Localizados  2023-05-30 00:00:00  172,654
3         Porcentaje Desaparecidos  2023-05-30 00:00:00  39.08 %
4           Porcentaje Localizados  2023-05-30 00:00:00  60.92 %
5         Total Solo Desaparecidos  2023-05-30 00:00:00   96,570
6        Total Solo No Localizados  2023-05-30 00:00:00   14,200
7    Porcentaje Solo Desaparecidos  2023-05-30 00:00:00  87.18 %
8   Porcentaje Solo No Localizados  2023-05-30 00:00:00  12.82 %
9             Total Localizados CV  2023-05-30 00:00:00  160,361
10             TotalLocalizados SV  2023-05-30 00:00:00   12,293
11       Porcentaje Localizados CV  2023-05-30 00:00:00  92.88 %
12       Porcentaje Localizados SV  2023-05-30 00:00:00   7.12 %
13                    Total Global  2023-05-31 00:00:00  284,229
14             Total Desaparecidos  2023-05-31 00:00:00  110,666
15               Total Localizados  2023-05-31 00:00:00  173,563
16        Porcentaje Desaparecidos  2023-05-31 00:00:00  38.94 %
17          Porcentaje Localizados  2023-05-31 00:00:00  61.06 %
18        Total Solo Desaparecidos  2023-05-31 00:00:00   96,560
19       Total Solo No Localizados  2023-05-31 00:00:00   14,106
20   Porcentaje Solo Desaparecidos  2023-05-31 00:00:00  87.25 %
21  Porcentaje Solo No Localizados  2023-05-31 00:00:00  12.75 %
22            Total Localizados CV  2023-05-31 00:00:00  161,210
23             TotalLocalizados SV  2023-05-31 00:00:00   12,353
24       Porcentaje Localizados CV  2023-05-31 00:00:00  92.88 %
25       Porcentaje Localizados SV  2023-05-31 00:00:00   7.12 %
26                    Total Global           2023-06-02  284,534
27             Total Desaparecidos           2023-06-02  110,745
28               Total Localizados           2023-06-02  173,789
29        Porcentaje Desaparecidos           2023-06-02  38.92 %
30          Porcentaje Localizados           2023-06-02  61.08 %
31        Total Solo Desaparecidos           2023-06-02   96,600
32       Total Solo No Localizados           2023-06-02   14,145
33   Porcentaje Solo Desaparecidos           2023-06-02  87.23 %
34  Porcentaje Solo No Localizados           2023-06-02  12.77 %
35            Total Localizados CV           2023-06-02  161,405
36             TotalLocalizados SV           2023-06-02   12,384
37       Porcentaje Localizados CV           2023-06-02  92.87 %
38       Porcentaje Localizados SV           2023-06-02   7.13 %

# PERSONAS DESAPARECIDAS Y NO LOCALIZADAS, Y LOCALIZADAS

In [7]:
url = "https://versionpublicarnpdno.segob.gob.mx/ContextoGeneral/PieChartDesaparecidos"

headers = {
    "cache-control": "no-cache",
    "cookie": COOKIE,
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36",
}

response = requests.request("POST", url, headers=headers)
json_data = json.loads(response.content)
print(json_data['Title'])
PERS_DES_YNOLOCYLOCCAT=[]
PERS_DES_YNOLOCYLOC=[]
PERS_DES_YNOLOCYLOCCAT.append(json_data["Series"][0]["data"][0]["name"])
PERS_DES_YNOLOCYLOC.append(json_data["Series"][0]["data"][0]["y"])
PERS_DES_YNOLOCYLOCCAT.append(json_data["Series"][0]["data"][1]["name"])
PERS_DES_YNOLOCYLOC.append(json_data["Series"][0]["data"][1]["y"])
PERS_DES_YNOLOCYLOC_DF={'CATEGORIA':PERS_DES_YNOLOCYLOCCAT,"PERSONAS":PERS_DES_YNOLOCYLOC}
PERS_DES_YNOLOCYLOC_Df=pd.DataFrame(PERS_DES_YNOLOCYLOC_DF)
#PERS_DES_YNOLOCYLOC_Df.to_excel('PERS_DES_YNOLOCYLOC_Df.xlsx',index=False)
PERS_DES_YNOLOCYLOC_Df.head()

list123=[]
for i in range(len(PERS_DES_YNOLOCYLOC_Df["CATEGORIA"])):
        ahora=datetime.now()
        fecha=ahora.date()
        list123.append(fecha)
PERS_DES_YNOLOCYLOC_Df["Fecha"]=list123
dfviejo=pd.read_excel('PERS_DES_YNOLOCYLOC_Df.xlsx')
df=pd.concat([dfviejo, PERS_DES_YNOLOCYLOC_Df], sort=True,ignore_index=True)
df.to_excel('PERS_DES_YNOLOCYLOC_Df.xlsx',index=False)
df

PERSONAS DESAPARECIDAS Y NO LOCALIZADAS, Y LOCALIZADAS

                        CATEGORIA                Fecha  PERSONAS
0                     Localizadas  2023-05-30 00:00:00    172654
1  Desaparecidas y No localizadas  2023-05-30 00:00:00    110770
2                     Localizadas  2023-05-31 00:00:00    173563
3  Desaparecidas y No localizadas  2023-05-31 00:00:00    110666
4                     Localizadas           2023-06-02    173789
5  Desaparecidas y No localizadas           2023-06-02    110745

# PERSONAS DESAPARECIDAS, NO LOCALIZADAS Y LOCALIZADAS
## POR NACIONALIDAD MEXICANA Y EXTRANJEROS

In [8]:
url = "https://versionpublicarnpdno.segob.gob.mx/ContextoGeneral/PieChartNacionalidad"

headers = {
    "cache-control": "no-cache",
    "cookie": COOKIE,
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36",
}

response = requests.request("POST", url, headers=headers)
json_data = json.loads(response.content)
CAT_PERS_DESAP_NOLOCYLOCPORNAC=[]
PERS_DESAP_NOLOCYLOCPORNAC=[]

CAT_PERS_DESAP_NOLOCYLOCPORNAC.append(json_data['Series'][0]["data"][0]['name'])
CAT_PERS_DESAP_NOLOCYLOCPORNAC.append(json_data['Series'][0]["data"][1]['name'])
PERS_DESAP_NOLOCYLOCPORNAC.append(json_data['Series'][0]["data"][0]['y'])
PERS_DESAP_NOLOCYLOCPORNAC.append(json_data['Series'][0]["data"][1]['y'])
PERS_DESAP_NOLOCYLOCPORNA_DF={'CATEGORIA':CAT_PERS_DESAP_NOLOCYLOCPORNAC,"PERSONAS":PERS_DESAP_NOLOCYLOCPORNAC}
PERS_DESAP_NOLOCYLOCPORNA_Df=pd.DataFrame(PERS_DESAP_NOLOCYLOCPORNA_DF)

list123=[]
for i in range(len(PERS_DESAP_NOLOCYLOCPORNA_Df["PERSONAS"])):
        ahora=datetime.now()
        fecha=ahora.date()
        list123.append(fecha)
list123
PERS_DESAP_NOLOCYLOCPORNA_Df["Fecha"]=list123

dfviejo=pd.read_excel('PERS_DESAP_NOLOCYLOCPORNA_Df.xlsx')
df=pd.concat([dfviejo, PERS_DESAP_NOLOCYLOCPORNA_Df], sort=True,ignore_index=True)
df.to_excel('PERS_DESAP_NOLOCYLOCPORNA_Df.xlsx',index=False)
df

    CATEGORIA                Fecha  PERSONAS
0  Extranjera  2023-05-30 00:00:00      4273
1    Mexicana  2023-05-30 00:00:00    259251
2  Extranjera  2023-05-31 00:00:00      4291
3    Mexicana  2023-05-31 00:00:00    259615
4  Extranjera           2023-06-02      4297
5    Mexicana           2023-06-02    259914

# PERSONAS LOCALIZADAS
## CON VIDA y SIN VIDA

In [9]:
url = "https://versionpublicarnpdno.segob.gob.mx/ContextoGeneral/PieChartLocalizados"

headers = {
    "cache-control": "no-cache",
    "cookie": COOKIE,
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36",
}

response = requests.request("POST", url, headers=headers)
json_data = json.loads(response.content)
CAT_PERS_LOC_CONVIDA_SINVIDA=[]
PERS_LOC_CONVIDA_SINVIDA=[]

CAT_PERS_LOC_CONVIDA_SINVIDA.append(json_data['Series'][0]["data"][0]['name'])
CAT_PERS_LOC_CONVIDA_SINVIDA.append(json_data['Series'][0]["data"][1]['name'])
PERS_LOC_CONVIDA_SINVIDA.append(json_data['Series'][0]["data"][0]['y'])
PERS_LOC_CONVIDA_SINVIDA.append(json_data['Series'][0]["data"][1]['y'])
PERS_LOC_CONVIDA_SINVIDA_DF={'CATEGORIA':CAT_PERS_LOC_CONVIDA_SINVIDA,"PERSONAS":PERS_LOC_CONVIDA_SINVIDA}
PERS_LOC_CONVIDA_SINVIDA_Df=pd.DataFrame(PERS_LOC_CONVIDA_SINVIDA_DF)


list123=[]
for i in range(len(PERS_LOC_CONVIDA_SINVIDA_Df["PERSONAS"])):
        ahora=datetime.now()
        fecha=ahora.date()
        list123.append(fecha)
PERS_LOC_CONVIDA_SINVIDA_Df["Fecha"]=list123

dfviejo=pd.read_excel('PERS_LOC_CONVIDA_SINVIDA_Df.xlsx')
df=pd.concat([dfviejo, PERS_LOC_CONVIDA_SINVIDA_Df], sort=True,ignore_index=True)
df.to_excel('PERS_LOC_CONVIDA_SINVIDA_Df.xlsx',index=False)
df

              CATEGORIA                Fecha  PERSONAS
0  Localizadas con vida  2023-05-30 00:00:00    160780
1  Localizadas sin vida  2023-05-30 00:00:00     12322
2  Localizadas con vida  2023-05-31 00:00:00    161210
3  Localizadas sin vida  2023-05-31 00:00:00     12353
4  Localizadas con vida           2023-06-02    161405
5  Localizadas sin vida           2023-06-02     12384

# PERSONAS DESAPARECIDAS Y NO LOCALIZADAS
## POR SEXO

In [10]:
url = "https://versionpublicarnpdno.segob.gob.mx/ContextoGeneral/PieChartSexoEstatus"
payload = {"IdEstatusV": 1}
headers = {
    "cookie": COOKIE,
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36",
}

response = requests.request("POST", url, json=payload, headers=headers)
json_data = json.loads(response.content)
CAT_PERS_DESAP_NOLOCYLOCPORSEX=[]
PERS_DESAP_NOLOCYLOCPORSEX=[]

CAT_PERS_DESAP_NOLOCYLOCPORSEX.append(json_data['Series'][0]["data"][0]['name'])
CAT_PERS_DESAP_NOLOCYLOCPORSEX.append(json_data['Series'][0]["data"][1]['name'])
CAT_PERS_DESAP_NOLOCYLOCPORSEX.append(json_data['Series'][0]["data"][2]['name'])
PERS_DESAP_NOLOCYLOCPORSEX.append(json_data['Series'][0]["data"][0]['y'])
PERS_DESAP_NOLOCYLOCPORSEX.append(json_data['Series'][0]["data"][1]['y'])
PERS_DESAP_NOLOCYLOCPORSEX.append(json_data['Series'][0]["data"][2]['y'])
PERS_DESAP_NOLOCYLOCPORSEX_DF={'CATEGORIA':CAT_PERS_DESAP_NOLOCYLOCPORSEX,"PERSONAS":PERS_DESAP_NOLOCYLOCPORSEX}
PERS_DESAP_NOLOCYLOCPORSEX_Df=pd.DataFrame(PERS_DESAP_NOLOCYLOCPORSEX_DF)
PERS_DESAP_NOLOCYLOCPORSEX_Df.to_excel('PERS_DESAP_NOLOCYLOCPORSEX_Df.xlsx',index=False)
PERS_DESAP_NOLOCYLOCPORSEX_Df.head()

list123=[]
for i in range(len(PERS_DESAP_NOLOCYLOCPORSEX_Df["PERSONAS"])):
        ahora=datetime.now()
        fecha=ahora.date()
        list123.append(fecha)
PERS_DESAP_NOLOCYLOCPORSEX_Df["Fecha"]=list123

dfviejo=pd.read_excel('PERS_DESAP_NOLOCYLOCPORSEX_Df.xlsx')
df=pd.concat([dfviejo, PERS_DESAP_NOLOCYLOCPORSEX_Df], sort=True,ignore_index=True)
df.to_excel('PERS_DESAP_NOLOCYLOCPORSEX_Df.xlsx',index=False)
df

       CATEGORIA       Fecha  PERSONAS
0         Hombre         NaN     83177
1          Mujer         NaN     26865
2  Indeterminado         NaN       703
3         Hombre  2023-06-02     83177
4          Mujer  2023-06-02     26865
5  Indeterminado  2023-06-02       703

# PERSONAS DESAPARECIDAS, NO LOCALIZADAS Y LOCALIZADAS
## POR SEXO Y ESTADO

In [11]:
url = "https://versionpublicarnpdno.segob.gob.mx/SocioDemografico/BarChartSexoEstados"
payload = {"IdEstatusV": 1}
headers = {
    "cookie": COOKIE,
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36",
}

response = requests.request("POST", url, json=payload, headers=headers)
json_data = json.loads(response.content)

CAT_PERS_DESAP_NOLOCYLOCPOREDO=[]
PERS_DESAP_NOLOCYLOCPOREDO_Hombre=[]
PERS_DESAP_NOLOCYLOCPOREDO_Mujer=[]
PERS_DESAP_NOLOCYLOCPOREDO_Indeterminado=[]
CAT_PERS_DESAP_NOLOCYLOCPOREDO.extend(json_data['XAxisCategories'])
PERS_DESAP_NOLOCYLOCPOREDO_Hombre.extend(json_data['Series'][0]['data'])
PERS_DESAP_NOLOCYLOCPOREDO_Mujer.extend(json_data['Series'][1]['data'])
PERS_DESAP_NOLOCYLOCPOREDO_Indeterminado.extend(json_data['Series'][2]['data'])
PERS_DESAP_NOLOCYLOCPOREDO_DF={'CATEGORIA':CAT_PERS_DESAP_NOLOCYLOCPOREDO,"Hombre":PERS_DESAP_NOLOCYLOCPOREDO_Hombre,"Mujer":PERS_DESAP_NOLOCYLOCPOREDO_Mujer,"Indeterminado":PERS_DESAP_NOLOCYLOCPOREDO_Indeterminado}
PERS_DESAP_NOLOCYLOCPOREDO_Df=pd.DataFrame(PERS_DESAP_NOLOCYLOCPOREDO_DF)

list123=[]
for i in range(len(PERS_DESAP_NOLOCYLOCPOREDO_Df["CATEGORIA"])):
        ahora=datetime.now()
        fecha=ahora.date()
        list123.append(fecha)
PERS_DESAP_NOLOCYLOCPOREDO_Df["Fecha"]=list123

dfviejo=pd.read_excel('PERS_DESAP_NOLOCYLOCPOREDO_Df.xlsx')
df=pd.concat([dfviejo, PERS_DESAP_NOLOCYLOCPOREDO_Df], sort=True,ignore_index=True)
df.to_excel('PERS_DESAP_NOLOCYLOCPOREDO_Df.xlsx',index=False)
df

              CATEGORIA                Fecha  Hombre  Indeterminado  Mujer
0        AGUASCALIENTES  2023-05-30 00:00:00    2037              2   2687
1       BAJA CALIFORNIA  2023-05-30 00:00:00    2946              5   2172
2   BAJA CALIFORNIA SUR  2023-05-30 00:00:00    1188              4    561
3              CAMPECHE  2023-05-30 00:00:00     537              2    771
4              COAHUILA  2023-05-30 00:00:00    3428             10   1245
..                  ...                  ...     ...            ...    ...
94             TLAXCALA           2023-06-02     371              2    412
95            VERACRUZ            2023-06-02    8475             44   4484
96              YUCATAN           2023-06-02    2713              0   4299
97            ZACATECAS           2023-06-02    4020              1   1650
98         SE DESCONOCE           2023-06-02     682            122    319

[99 rows x 5 columns]

In [12]:
url = "https://versionpublicarnpdno.segob.gob.mx/SocioDemografico/AreaChartSexoAnio"
payload = {"IdEstatusV": 1}
headers = {
    "cookie": COOKIE,
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36",
}

response = requests.request("POST", url, json=payload, headers=headers)
json_data = json.loads(response.content)

CAT_PERS_DESAP_NOLOCYLOCPORyear=[]
PERS_DESAP_NOLOCYLOCPORyear_Hombre=[]
PERS_DESAP_NOLOCYLOCPORyear_Mujer=[]
PERS_DESAP_NOLOCYLOCPORyear_Indeterminado=[]
CAT_PERS_DESAP_NOLOCYLOCPORyear.extend(json_data['XAxisCategories'])
PERS_DESAP_NOLOCYLOCPORyear_Hombre.extend(json_data['Series'][0]['data'])
PERS_DESAP_NOLOCYLOCPORyear_Mujer.extend(json_data['Series'][1]['data'])
PERS_DESAP_NOLOCYLOCPORyear_Indeterminado.extend(json_data['Series'][2]['data'])
PERS_DESAP_NOLOCYLOCPORyear_DF={'CATEGORIA':CAT_PERS_DESAP_NOLOCYLOCPORyear,"Hombre":PERS_DESAP_NOLOCYLOCPORyear_Hombre,"Mujer":PERS_DESAP_NOLOCYLOCPORyear_Mujer,"Indeterminado":PERS_DESAP_NOLOCYLOCPORyear_Indeterminado}
PERS_DESAP_NOLOCYLOCPORyear_Df=pd.DataFrame(PERS_DESAP_NOLOCYLOCPORyear_DF)

list123=[]
for i in range(len(PERS_DESAP_NOLOCYLOCPORyear_Df["CATEGORIA"])):
        ahora=datetime.now()
        fecha=ahora.date()
        list123.append(fecha)
PERS_DESAP_NOLOCYLOCPORyear_Df["Fecha"]=list123

dfviejo=pd.read_excel('PERS_DESAP_NOLOCYLOCPORyear_Df.xlsx')
df=pd.concat([dfviejo, PERS_DESAP_NOLOCYLOCPORyear_Df], sort=True,ignore_index=True)
df.to_excel('PERS_DESAP_NOLOCYLOCPORyear_Df.xlsx',index=False)
#df

In [13]:
url = "https://versionpublicarnpdno.segob.gob.mx/SocioDemografico/AreaChartSexoRango"
payload = {"IdEstatusV": 1}
headers = {
    "cookie": COOKIE,
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36",
}

response = requests.request("POST", url, json=payload, headers=headers)
json_data = json.loads(response.content)

CAT_PERS_DESAP_NOLOCYLOCPORedad=[]
PERS_DESAP_NOLOCYLOCPORedad_Hombre=[]
PERS_DESAP_NOLOCYLOCPORedad_Mujer=[]
PERS_DESAP_NOLOCYLOCPORedad_Indeterminado=[]
CAT_PERS_DESAP_NOLOCYLOCPORedad.extend(json_data['XAxisCategories'])
PERS_DESAP_NOLOCYLOCPORedad_Hombre.extend(json_data['Series'][0]['data'])
PERS_DESAP_NOLOCYLOCPORedad_Mujer.extend(json_data['Series'][1]['data'])
PERS_DESAP_NOLOCYLOCPORedad_Indeterminado.extend(json_data['Series'][2]['data'])
PERS_DESAP_NOLOCYLOCPORedad_DF={'CATEGORIA':CAT_PERS_DESAP_NOLOCYLOCPORedad,"Hombre":PERS_DESAP_NOLOCYLOCPORedad_Hombre,"Mujer":PERS_DESAP_NOLOCYLOCPORedad_Mujer,"Indeterminado":PERS_DESAP_NOLOCYLOCPORedad_Indeterminado}
PERS_DESAP_NOLOCYLOCPORedad_Df=pd.DataFrame(PERS_DESAP_NOLOCYLOCPORedad_DF)
list123=[]
for i in range(len(PERS_DESAP_NOLOCYLOCPORedad_Df["CATEGORIA"])):
        ahora=datetime.now()
        fecha=ahora.date()
        list123.append(fecha)
PERS_DESAP_NOLOCYLOCPORedad_Df["Fecha"]=list123

dfviejo=pd.read_excel('PERS_DESAP_NOLOCYLOCPORyear_Df.xlsx')
df=pd.concat([dfviejo, PERS_DESAP_NOLOCYLOCPORyear_Df], sort=True,ignore_index=True)
df.to_excel('PERS_DESAP_NOLOCYLOCPORyear_Df.xlsx',index=False)
df

    CATEGORIA                Fecha  Hombre  Indeterminado  Mujer
0         0-4  2023-05-31 00:00:00    4644             11   4542
1         5-9  2023-05-31 00:00:00    3187             11   3101
2       10-14  2023-05-31 00:00:00    9049             28  21379
3       15-19  2023-05-31 00:00:00   20717             95  42607
4       20-24  2023-05-31 00:00:00   20689             94  12071
..        ...                  ...     ...            ...    ...
137      2019           2023-06-02   14812            258   8771
138      2020           2023-06-02   14212             31   9234
139      2021           2023-06-02   14401              7   8812
140      2022           2023-06-02   13339             23   8464
141      2023           2023-06-02    5852             16   4050

[142 rows x 5 columns]

In [14]:
url = "https://versionpublicarnpdno.segob.gob.mx/SocioDemografico/BarChartSexoNacionalidad"
payload = {"IdEstatusV": 1}
headers = {
    "cookie": COOKIE,
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36",
}

response = requests.request("POST", url, json=payload, headers=headers)
json_data = json.loads(response.content)

CAT_PERS_DESAP_NOLOCYLOCPORnac=[]
PERS_DESAP_NOLOCYLOCPORnac_Hombre=[]
PERS_DESAP_NOLOCYLOCPORnac_Mujer=[]
PERS_DESAP_NOLOCYLOCPORnac_Indeterminado=[]
CAT_PERS_DESAP_NOLOCYLOCPORnac.extend(json_data['XAxisCategories'])
PERS_DESAP_NOLOCYLOCPORnac_Hombre.extend(json_data['Series'][0]['data'])
PERS_DESAP_NOLOCYLOCPORnac_Mujer.extend(json_data['Series'][1]['data'])
PERS_DESAP_NOLOCYLOCPORnac_Indeterminado.extend(json_data['Series'][2]['data'])
PERS_DESAP_NOLOCYLOCPORnac_DF={'CATEGORIA':CAT_PERS_DESAP_NOLOCYLOCPORnac,
                               "Hombre":PERS_DESAP_NOLOCYLOCPORnac_Hombre,
                               "Mujer":PERS_DESAP_NOLOCYLOCPORnac_Mujer,
                               "Indeterminado":PERS_DESAP_NOLOCYLOCPORnac_Indeterminado}
PERS_DESAP_NOLOCYLOCPORnac_Df=pd.DataFrame(PERS_DESAP_NOLOCYLOCPORnac_DF)
list123=[]
for i in range(len(PERS_DESAP_NOLOCYLOCPORnac_Df["CATEGORIA"])):
        ahora=datetime.now()
        fecha=ahora.date()
        list123.append(fecha)
PERS_DESAP_NOLOCYLOCPORnac_Df["Fecha"]=list123

dfviejo=pd.read_excel('PERS_DESAP_NOLOCYLOCPORnac_Df.xlsx')
df=pd.concat([dfviejo, PERS_DESAP_NOLOCYLOCPORnac_Df], sort=True,ignore_index=True)
df.to_excel('PERS_DESAP_NOLOCYLOCPORnac_Df.xlsx',index=False)
df

,CATEGORIA,Fecha,Hombre,Indeterminado,Mujer
0,MEXICANA,2023-05-31 00:00:00,150837,272,107665
1,SE DESCONOCE,2023-05-31 00:00:00,9393,567,3685
2,SIN NACIONALIDAD DE REFERENCIA,2023-05-31 00:00:00,3360,0,4291
3,ESTADOUNIDENSE,2023-05-31 00:00:00,648,1,562
4,HONDUREÑA,2023-05-31 00:00:00,489,1,222
5,GUATEMALTECA,2023-05-31 00:00:00,398,2,168
6,COLOMBIANA,2023-05-31 00:00:00,216,1,72
7,SALVADORENA,2023-05-31 00:00:00,171,1,97
8,NICARAGUENSE,2023-05-31 00:00:00,123,1,51
9,CUBANA,2023-05-31 00:00:00,111,8,49
10,VENEZOLANA,2023-05-31 00:00:00,101,2,50
11,CANADIENSE,2023-05-31 00:00:00,42,0,15
12,PERUANA,2023-05-31 00:00:00,41,0,17
13,HINDU,2023-05-31 00:00:00,25,1,2
14,ECUATORIANA,2023-05-31 00:00:00,23,23,9
15,ARGENTINA,2023-05-31 00:00:00,22,0,6
16,BRASILENA,2023-05-31 00:00:00,20,0,6
17,ESPANOLA,2023-05-31 00:00:00,17,0,4
18,BELICENA,2023-05-31 00:00:00,14,0,9
19,ITALIANA,2023-05-31 00:00:00,13,0,7
20,DOMINICANA,2023-05-31 00:00:00,12,0,1
21,MARROQUI,2023-05-31 00:00:00,11,0,4
22,RUSA,2023-05-31 00:00:00,10,0,16
23,HAITIANA,2023-05-31 00:00:00,9,0,6
24,CHINA,2023-05-31 00:00:00,7,0,2
25,COSTARRICENSE,2023-05-31 00:00:00,7,0,6
26,INGLESA,2023-05-31 00:00:00,7,0,2
27,POLACA,2023-05-31 00:00:00,6,0,3
28,ESTADOS INDEPENDIENTES,2023-05-31 00:00:00,6,0,4
29,FRANCESA,2023-05-31 00:00:00,6,0,2
30,MEXICANA,2023-06-02,151010,272,107791
31,SE DESCONOCE,2023-06-02,9393,567,3685
32,SIN NACIONALIDAD DE REFERENCIA,2023-06-02,3360,0,4291
33,ESTADOUNIDENSE,2023-06-02,648,1,562
34,HONDUREÑA,2023-06-02,489,1,223
35,GUATEMALTECA,2023-06-02,398,2,168
36,COLOMBIANA,2023-06-02,217,1,73
37,SALVADORENA,2023-06-02,171,1,97
38,NICARAGUENSE,2023-06-02,123,1,51
39,CUBANA,2023-06-02,111,8,49
40,VENEZOLANA,2023-06-02,103,2,50
41,CANADIENSE,2023-06-02,42,0,15
42,PERUANA,2023-06-02,41,0,17
43,HINDU,2023-06-02,25,1,2
44,ECUATORIANA,2023-06-02,23,23,9
45,ARGENTINA,2023-06-02,22,0,6
46,BRASILENA,2023-06-02,20,0,6
47,ESPANOLA,2023-06-02,17,0,4
48,BELICENA,2023-06-02,14,0,9
49,ITALIANA,2023-06-02,13,0,7
50,DOMINICANA,2023-06-02,12,0,1
51,MARROQUI,2023-06-02,11,0,4
52,RUSA,2023-06-02,10,0,16
53,HAITIANA,2023-06-02,9,0,6
54,COSTARRICENSE,2023-06-02,8,0,6
55,CHINA,2023-06-02,7,0,2
56,INGLESA,2023-06-02,7,0,2
57,POLACA,2023-06-02,6,0,3
58,ESTADOS INDEPENDIENTES,2023-06-02,6,0,4
59,FRANCESA,2023-06-02,6,0,2

https://adondevanlosdesaparecidos.org/2020/07/13/presentan-plataforma-de-personas-desaparecidas-pero-no-abren-datos/

In [15]:
#from lxml import etree
#import pandas as pd 
#import datetime 
#from lxml import html
#import random
#from selenium import webdriver
#from selenium.webdriver.common.by import By
#from selenium.webdriver.support import expected_conditions as EC
#from selenium.webdriver.support.ui import WebDriverWait
#import time

#url="https://versionpublicarnpdno.segob.gob.mx/Dashboard/ContextoGeneral"
#driver=webdriver.Chrome('./chromedriver.exe')
#driver.get(url)

#try:
#    checkbox = driver.find_element(By.ID, "chkAceptarTerminos")
#    checkbox.click()
#    boton = driver.find_element(By.ID, "EnlaceSiguiente")
#    boton.click()
#except:
#    print("No hay términos")
#try:
#    boton3 = driver.find_element(By.ID, "EnlaceSiguiente")
#    boton3.click()
#except:
#    print("No hay 2da advertencia")    
#try:
#    boton2 = driver.find_element(By.ID, "close-modal-cargas-masivas")
#    boton2.click()
#except:
#    print("No hay cargas masivas")
#time.sleep(35) 
#codigo con selenium (1era prueba)
#import requests 
#from bs4 import BeautifulSoup 
  
#Total_de_personas_desaparecidasnolocyloc = driver.find_element(By.ID, "TotalGlobal").text
#Total_de_personas_desaparecidasnoloc = driver.find_element(By.ID, "TotalDesaparecidosNoLocalizados").text
#print(Total_de_personas_desaparecidasnoloc)

#element = driver.find_element(By.XPATH, "//*[@id='highcharts-qj6v20v-978']/svg/g[3]/g/rect")
#element.click()

In [16]:
#from selenium import webdriver
#from selenium.webdriver.common.keys import Keys
#url="https://versionpublicarnpdno.segob.gob.mx/Dashboard/ContextoGeneral"
#driver=webdriver.Chrome('./chromedriver.exe')
#driver.get(url)
#all_cookies=driver.get_cookies()
#COOKIE="ASP.NET_SessionId=bmaqoqfbffauwy0bxvay1g42; .AspNet.ApplicationCookie="+all_cookies[0]['value']
#print(COOKIE)
#driver.close()